.body{
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666;
}
.container{
    width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0, .3);
    margin: 0 auto;
}

header {
    background-color: #422814;
    padding: 10px;
    color: #fff;
}

h1{
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.description img{
    float: left;
    margin: 0 10 10 0px;
    width: 200px;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function:ease ;
    transition-delay: 0s;
}
.description img:hover{
    opacity: .5;
}

.snow img{
    float: left;
    width: 200px;
    margin: 0 10 0px;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function:ease ;
    transition-delay: 0s;
    }
.snow img:hover{
    opacity: .5;
}
.snows {
    margin-top: 100px;
}

    

.thinking img{
    float: left;
    width: 200px;
    margin: 0 10 0px;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function:ease ;
    transition-delay: 0s;
}
.thinking img:hover{
    opacity: .5;
}
.thinks{
    margin-top: 0px;
    clear: both;
}
.kyozin{
    margin-top: 100px;
}
/*@media only screen and (max-width: 600px){
    .description img{
        float: none;
        display: block;
        margin: 0 auto;
    }
    .descriptio img{
        float: none;
        display: block;
        margin: 0 auto;
    }
    .thinking img{
        float: none;
        display: block;
        margin: 0 auto;
    }
        
    header{
        padding: 5px;

    }
    header h1{
        font-size: 12px;

    }
    .information h1{
        font-size: 14px;
    }

    

    
}